/*.border-box { */
/* background-image: url("../images/universr.jpg");
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    border-radius: 20px;
} */

/* div {
    background-image:url("../images/universr.jpg");}
    background-repeat: no-repeat;
    background-position: top;
    width: 300px;
    height: 300px;
    background-color: aqua;
    background-position: center;
    background-size: contain;
    background-attachment: scroll;

.border-box {
    width: 200px;
    height: 200px;
    background: red;
    border: 2px solid rgb(179, 164, 164);
    border-top: 3px solid orange;
    border-radius: 20px 10px 5px 23px;
} */
header {
    background-color: #806bdc;
    text-align: center;
    padding: 3px;
    color: white;
    font-size: large;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(237, 232, 232);
    font-family: Roboto, sans-serif;
}
.container {
    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    width: 100%;
    gap: 30px;
}

.item {
    width: 30%;
    text-align: center;
}

.item-image {
    width: 100px;
    margin-bottom: 20px;
}
.item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.image-below {
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin-left: 150px;
}
h2 {
    font-weight: bold;
    margin-bottom: 30px;
}
.table-haed {
    background-color: #9980b2;
}
table {
    padding: 10px;
    border: 1px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.table-body {
    padding: 10px;
    border: 1px;
    text-align: center;
}
.information {
    margin: 20px 20px 20px 20px;
}
.next-content {
    text-align: center;
}
.sales-info {
}
tr {
    display: table-row;
    vertical-align: inherit;
}
table {
    padding: 12px 12px 12px 12px;
}
