table{
    background-color: rgb(189, 244, 226);
}
span{
   
}
h3{
    
}
.kirish{
    text-align: center;
    font-weight: bold;
    background-color: darkkhaki;
    text-align:center;
    font-size: x-large;
}