
.toshkent {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 100%;
    border-radius: 40px;
}

.picture-row {
    margin-bottom: 12px;
}
.video-auther {
    font-size: 12px;
    color: gb(241, 241, 241);
}
.video-stats {
    font-size: 12px;
    color: gb(241, 241, 241);
}
.video-auther {
    margin-bottom: 4px;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}